@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts/Manrope.ttf");

@font-face {
  font-family: "MANROPE";
  src: url("./fonts/Manrope.ttf");
}

body {
  background-color: #f6e5e5;
}
